.folder-item {
    -fx-font-weight: bold;
}

.light-square {
    -fx-background-color: #ffffdd;
}

.dark-square {
    -fx-background-color: #86a666;
}

.invalid {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.currentMove {
    -fx-font-weight: bold;
}